# SPDX-License-Identifier: MIT
# Analyse statique : bugs probables, sécurité, lisibilité, bonnes pratiques C++.
---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-constant-array-index

WarningsAsErrors: '*'
HeaderFilterRegex: 'core/.*'
FormatStyle: file
